/* CSS Document */

/*--- New CSS - Font Family - 2.OpenSansRegular 3.OpenSansSemibold */
/*
@font-face
{
    font-family: 'OpenSansRegular';
    src: url(                      'http://www.ekstop.com/fonts/OpenSans-Regular-webfont.eot' );
    src: url(                      'http://www.ekstop.com/fonts/OpenSans-Regular-webfont.eot?#iefix' ) format(                      'embedded-opentype' ), url(                      'http://www.ekstop.com/fonts/OpenSans-Regular-webfont.woff' ) format(                      'woff' ), url(                      'http://www.ekstop.com/fonts/OpenSans-Regular-webfont.ttf' ) format(                      'truetype' ), url(                      '../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular' ) format(                      'svg' );
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'OpenSansSemibold';
    src: url(                      'http://www.ekstop.com/fonts/OpenSans-Semibold-webfont.eot' );
    src: url(                      'http://www.ekstop.com/fonts/OpenSans-Semibold-webfont.eot?#iefix' ) format(                      'embedded-opentype' ), url(                      'http://www.ekstop.com/fonts/OpenSans-Semibold-webfont.woff' ) format(                      'woff' ), url(                      'http://www.ekstop.com/fonts/OpenSans-Semibold-webfont.ttf' ) format(                      'truetype' ), url(                      'http://www.ekstop.com/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold' ) format(                      'svg' );
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'OpenSansBold';
    src: url(                      'http://www.ekstop.com/fonts/OpenSans-Bold-webfont.eot' );
    src: url(                      'http://www.ekstop.com/fonts/OpenSans-Bold-webfont.eot?#iefix' ) format(                      'embedded-opentype' ), url(                      'http://www.ekstop.com/fonts/OpenSans-Bold-webfont.woff' ) format(                      'woff' ), url(                      'http://www.ekstop.com/fonts/OpenSans-Bold-webfont.ttf' ) format(                      'truetype' ), url(                      'http://www.ekstop.com/fonts/OpenSans-Bold-webfont.svg#OpenSansBold' ) format(                      'svg' );
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'RobotoThin';
    src: url(                      'http://www.ekstop.com/Fonts/Roboto-Thin-webfont.eot' );
    src: url(                      'http://www.ekstop.com/Fonts/Roboto-Thin-webfont.eot?#iefix' ) format(                      'embedded-opentype' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Thin-webfont.woff' ) format(                      'woff' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Thin-webfont.ttf' ) format(                      'truetype' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Thin-webfont.svg#RobotoThin' ) format(                      'svg' );
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'RobotoLight';
    src: url(                      'http://www.ekstop.com/Fonts/Roboto-Light-webfont.eot' );
    src: url(                      'http://www.ekstop.com/Fonts/Roboto-Light-webfont.eot?#iefix' ) format(                      'embedded-opentype' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Light-webfont.woff' ) format(                      'woff' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Light-webfont.ttf' ) format(                      'truetype' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Light-webfont.svg#RobotoThin' ) format(                      'svg' );
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'RobotoRegular';
    src: url(                      'http://www.ekstop.com/Fonts/Roboto-Regular-webfont.eot' );
    src: url(                      'http://www.ekstop.com/Fonts/Roboto-Regular-webfont.eot?#iefix' ) format(                      'embedded-opentype' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Regular-webfont.woff' ) format(                      'woff' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Regular-webfont.ttf' ) format(                      'truetype' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Regular-webfont.svg#RobotoRegular' ) format(                      'svg' );
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'RobotoMedium';
    src: url(                      'http://www.ekstop.com/Fonts/Roboto-Medium-webfont.eot' );
    src: url(                      'http://www.ekstop.com/Fonts/Roboto-Medium-webfont.eot?#iefix' ) format(                      'embedded-opentype' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Medium-webfont.woff' ) format(                      'woff' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Medium-webfont.ttf' ) format(                      'truetype' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Medium-webfont.svg#RobotoMedium' ) format(                      'svg' );
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'RobotoBold';
    src: url(                      'http://www.ekstop.com/Fonts/Roboto-Bold-webfont.eot' );
    src: url(                      'http://www.ekstop.com/Fonts/Roboto-Bold-webfont.eot?#iefix' ) format(                      'embedded-opentype' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Bold-webfont.woff' ) format(                      'woff' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Bold-webfont.ttf' ) format(                      'truetype' ), url(                      'http://www.ekstop.com/Fonts/Roboto-Bold-webfont.svg#RobotoBold' ) format(                      'svg' );
    font-weight: normal;
    font-style: normal;
}
*/


input[type="text"], input[type="password"], div
{
    outline: none;
}


.TextBorder
{
    width: 2px;
    border-left: solid 1px #cdcdcd;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    height: 28px;
    margin-top: 7px;
    float: left;
}

.OuterBorderDflt
{
    width: 292px;
    height: 32px;
    float: left;
    font-size:13px;
    border: solid 1px #e1e1e1;
    box-shadow: 0px 0px 5px 1px #ffffff;
    -moz-box-shadow: 0px 0px 5px 1px #ffffff;
    -webkit-box-shadow: 0px 0px 5px 1px #ffffff;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#fff' );
    margin-left: 3px;
    
}

.login-wrap .OuterBorderDflt { margin-left:0px; }


.OuterBorderDflt textarea { padding:13px; }

.OuterBorderFocused
{
    width: 292px;
    height: 32px;
    float: left;
    border: solid 1px #fff;
    box-shadow: 0px 0px 5px 1px #98a93c;
    -moz-box-shadow: 0px 0px 5px 1px #98a93c;
    -webkit-box-shadow: 0px 0px 5px 1px #98a93c;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=122, Color=  '#98a93c' );
    margin-left: 3px;
}

.Login .divInput .OuterBorderFocused {
  height: 31px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.Login > div#divReg {
  float: left;
}

.Login .btnCssContinue { }

.OuterBorderDfltIE
{
    width: 292px;
    height: 32px;
    float: left;
    border: solid 1px #cdcdcd;
    margin-left: 3px;
}


.OuterBorderFocusedIE
{
    width: 292px;
    height: 38px;
    float: left;
    border: solid 1px #98a93c;
    margin-left: 3px;
}
.EKstextBox
{
    padding: 4px 4px 4px 4px;
    border: 0px;
    float: left;
    width: 240px;
    border: solid 0px red;
    font-size: 14px;
    color: #363535;
    background:none;
}


*
{
    margin:0px;
	list-style-type:none;
    }