<style type="text/css">
table,th,td
{
	border-collapse:collapse;
	margin:5px;
}
.style1 {font-family: Calibri; text-align:center;}
.style5 {font-family: Calibri}
.style6 {text-align: center}
#id1
{
width:998;
height:550;
border:2px solid #000000;
}
.style11 {font-size: 18px}
.style13 {font-size: 20px}
p
{
margin:1px;
}
</style> 
<table width="1011"  id="id1">
<tr><td width="1001" height="610">
<table width="984" height="580" border="1" align="center">
  <tr>
    <td height="33" colspan="14"><table width="976" border="0">
      <tr>
        <td width="330"><span class="style1">Name:  </span></td>
        <td width="391"><span class="style11">Part A: Academic Excellance Progress Report </span></td>
        <td width="374"><span class="style1">Class</span></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="140" rowspan="2"><div align="center" class="style5">Subjects</div></td>
    <td width="55" height="37"><div align="center" class="style5"><span class="style6">FA-1 </span></div></td>
    <td width="55"><div align="center" class="style5"><span class="style6">FA-2</span></div></td>
    <td width="55"><div align="center" class="style5"><span class="style6">Total FA </span></div></td>
    <td width="55"><div align="center" class="style5"><span class="style6">SA-1</span></div></td>
    <td width="67" rowspan="2"><p class="style1">Total (FA+SA) 50% </p></td>
    <td width="55" height="37"><div align="center" class="style5"><span class="style6">FA-1 </span></div></td>
    <td width="55"><div align="center" class="style5"><span class="style6">FA-2</span></div></td>
    <td width="55"><div align="center" class="style5"><span class="style6">Total FA </span></div></td>
    <td width="55"><div align="center" class="style5"><span class="style6">SA-1</span></div></td>
   <td width="67" rowspan="2"><div align="center">
     <p><span class="style5">Total (FA+SA) 50%</span> </p>
    </div></td>
   <td width="55" rowspan="2"><div align="center"><span class="style5"></span><span class="style5">Total (FA) 40%</span> </div></td>
    <td width="42" rowspan="2"><div align="center"><span class="style5"></span><span class="style5">Total (SA) 60%</span> </div></td>
    <td width="76" rowspan="2"><p align="center" class="style1"><span class="style5"></span><span class="style5">Total Grade of (FA+SA) 100%</span> </p></td>
  </tr>
  <tr>
    <td height="28"><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td height="40"><div align="left">I Language Sanskrith/English </div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
    <td><div align="left"></div></td>
  </tr>
  <tr>
    <td height="26">II Language Kannada</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26">III Language Hindi/English </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26">Mathematics</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26">Science</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26">Social Science </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26">Physical Edn &amp; Health Education </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26">Drawing</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26">S.U.P.W</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26">Computer</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26">Class Teacher's Sign </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26">Principal's Sign </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26"><div align="left"><span class="style1"></span>Parent's Sign </div></td>
    <td><div align="left"><span class="style1"></span></div></td>
    <td><div align="left"><span class="style1"></span></div></td>
    <td><div align="left"><span class="style1"></span></div></td>
    <td><div align="left"><span class="style1"></span></div></td>
    <td><div align="left"><span class="style1"></span></div></td>
    <td><div align="left"><span class="style1"></span></div></td>
    <td><div align="left"><span class="style1"></span></div></td>
    <td><div align="left"><span class="style1"></span></div></td>
    <td><div align="left"><span class="style1"></span></div></td>
    <td><div align="left"><span class="style1"></span></div></td>
    <td><div align="left"><span class="style1"></span></div></td>
    <td><div align="left"><span class="style1"></span></div></td>
    <td><div align="left"><span class="style1"></span></div></td>
  </tr>
 </table>
 <table>
  <tr>
    <td width="277" height="38"><div align="left"><span style="vertical-align:bottom" align="center">Result : </span></div></td>
    <td width="706" ><div align="right"><span style="vertical-align:bottom" align="right">Sign Of Principal</span></div></td>
    </tr>
</table>

</td></tr></table>

<br />

<table width="1013" id="id1">
<tr><td width="1003">
<table width="988" height="266" border="1" align="center">
  <tr>
    <td height="33" colspan="9"><div align="center"><span class="style11">Part B : Social Emotional Scientific Skills and Creativity </span></div></td>
  </tr>
  <tr>
    <td width="273" height="45"></td>
    <td height="45" colspan="2"><p class="style1 style13">1st Semester </p></td>
    <td colspan="2"><div align="center"><span class="style1 style13">2nd  Semester </span></div></td>
   </tr>
  <tr>
    <td height="28">Skills</td>
    <td width="95">Grade</td>
    <td width="220"><div align="center">Descriptive Measures </div></td>
    <td width="108">Grade</td>
    <td width="258" colspan="-1"><div align="center">Descriptive Measures </div></td>
  </tr>
  <tr>
    <td height="28">Emotional - Social Skills </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="-1">&nbsp;</td>
  </tr>
  <tr>
    <td height="28">Organizational Skills </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="-1">&nbsp;</td>
  </tr>
  <tr>
    <td height="28">Scientific Skills </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="-1">&nbsp;</td>
  </tr>
  <tr>
    <td height="28">Aesthetic &amp; Fine Arts </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="-1">&nbsp;</td>
  </tr>
  <tr>
    <td height="28">Creative Skills </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="-1">&nbsp;</td>
  </tr>
</table>
<p align="center" class="style11">Mentality & Values</p>
<table width="988" height="184" border="1" align="center">
  <tr>
    <td width="273" height="28">&nbsp;</td>
    <td width="95">Grade</td>
    <td width="220"><div align="center">Descriptive Measures </div></td>
    <td width="108">Grade</td>
    <td width="258" colspan="-1"><div align="center">Descriptive Measures </div></td>
  </tr>
  <tr>
    <td height="28">About Teachers </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="-1">&nbsp;</td>
  </tr>
  <tr>
    <td height="28">Classmates</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="-1">&nbsp;</td>
  </tr>
  <tr>
    <td height="28">School Programmes </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="-1">&nbsp;</td>
  </tr>
  <tr>
    <td height="28">Environment</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="-1">&nbsp;</td>
  </tr>
  <tr>
    <td height="28">Values</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="-1">&nbsp;</td>
  </tr>
</table>
<p align="center" class="style11">Special Performance</p>
<table height="167" border="1" align="right">
  <tr>
    <td height="43"><div align="center">Details of Special Performance </div></td>
  </tr>
  <tr>
    <td height="45">1)</td>
  </tr>
  <tr>
    <td width="430" height="45">2)</td>
    </tr>
</table>
<table border="1" align="left">
  <tr>
    <td height="39"> * Country Games / Sports Yoga </td>
    <td><div align="center">Work Experience </div></td>
  </tr>
  <tr>
    <td height="39">* Sevadal / NCC / Scouts &amp; Guides </td>
    <td>* Handicraft </td>
  </tr>
  <tr>
    <td height="39">* Folk Art / Fine Art </td>
    <td>* Horticulture / Shramadhan </td>
  </tr>
  <tr>
    <td width="263" height="39">* Others </td>
    <td width="185">&nbsp;</td>
  </tr>
</table>
</td>
</tr></table>